<a href="https://colab.research.google.com/github/alexeyserdtse/BigData_practicum/blob/main/BigDataPracticum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Big Data Practicum:

## Import Lib:

In [2]:
import pandas as pd
import numpy as np
import gc

## import raw files:

### Country

In [ ]:
## import Country csv from github repository:
path = 'https://raw.githubusercontent.com/alexeyserdtse/BigData_practicum/main/Country.csv'
RawCountry = pd.read_csv(path,index_col=None)

#show first 5 rows.
RawCountry.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [ ]:
#data set size
len(RawCountry)

577462

In [ ]:
# Min and max values are in a correct range.
RawCountry.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       544811.000000                  545550.000000
mean            17.193354                       1.019057
std             10.953966                       1.201930
min            -37.658000                       0.052000
25%             10.025000                       0.323000
50%             20.901000                       0.571000
75%             25.814000                       1.206000
max             38.842000                      15.003000

In [ ]:
RawCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

In [ ]:
# in addition to Countries there are continents in the list ('Africa', 'Asia')
# Some of the european contries marked as (Europe), not all 
RawCountry.Country.unique()

array(['Åland', 'Afghanistan', 'Africa', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Baker Island', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius And Saba', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', "Côte D'Ivoire", 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros',
       'Congo (Democratic Republic Of The)', 'Congo', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'Denmark (Europe)', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
       'Federated States Of Micronesia', 'Fiji', 'Finland',
       'France (Europe)', 'France', 'French Guiana', 'French Polynesia',
       'French Southern And Antarctic Lands', 'Gabon', 'Gambia',
       'Gaza Strip', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea Bissau', 'Guinea', 'Guyana', 'Haiti',
       'Heard Island And Mcdonald Islands', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kingman Reef',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands (Europe)', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestina',
       'Palmyra Atoll', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy',
       'Saint Kitts And Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'Samoa', 'San Marino', 'Sao Tome And Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South America',
       'South Georgia And The South Sandwich Isla', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Svalbard And Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor Leste', 'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks And Caicas Islands', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom (Europe)',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Virgin Islands', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
# Drop duplicates:
RawCountry = RawCountry.drop_duplicates()

# delete extra whitespaces & Capitize every column.
RawCountry['Country'] = RawCountry['Country'].str.strip()
RawCountry['Country'] = RawCountry['Country'].str.title()

# Convert all values in  AverageTemperature and AverageTemperatureUncertainty to float
RawCountry = RawCountry.astype({'AverageTemperature': 'float',
                               'AverageTemperatureUncertainty': 'float'
                               })

# Convert date column from object (str) to datetime:
RawCountry['dt'] = pd.to_datetime(RawCountry['dt'])

#Show first 5 rows:
RawCountry.head()

          dt  AverageTemperature  AverageTemperatureUncertainty Country
0 1743-11-01               4.384                          2.294   Åland
1 1743-12-01                 NaN                            NaN   Åland
2 1744-01-01                 NaN                            NaN   Åland
3 1744-02-01                 NaN                            NaN   Åland
4 1744-03-01                 NaN                            NaN   Åland

### Global Temperatures

In [ ]:
## import GlobalTemp csv:
path = 'https://raw.githubusercontent.com/alexeyserdtse/BigData_practicum/main/GlobalTemperatures.csv'
RawGlobalTemp = pd.read_csv(path,index_col=None)

#show first 5 rows.
RawGlobalTemp.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                        NaN
1  1750-02-01  ...                                        NaN
2  1750-03-01  ...                                        NaN
3  1750-04-01  ...                                        NaN
4  1750-05-01  ...                                        NaN

[5 rows x 9 columns]

In [ ]:
#dataset size:
len(RawGlobalTemp)

3192

In [ ]:
# Min and max values are in a correct range.
RawGlobalTemp.describe()

       LandAverageTemperature  ...  LandAndOceanAverageTemperatureUncertainty
count             3180.000000  ...                                1992.000000
mean                 8.374731  ...                                   0.128532
std                  4.381310  ...                                   0.073587
min                 -2.080000  ...                                   0.042000
25%                  4.312000  ...                                   0.063000
50%                  8.610500  ...                                   0.122000
75%                 12.548250  ...                                   0.151000
max                 19.021000  ...                                   0.457000

[8 rows x 8 columns]

In [ ]:
RawGlobalTemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [ ]:
# Drop duplicates:
RawGlobalTemp = RawGlobalTemp.drop_duplicates()

# Convert date column from object (str) to datetime:
RawGlobalTemp['dt'] = pd.to_datetime(RawGlobalTemp['dt'])

# convert columns to same format (float)
RawGlobalTemp = RawGlobalTemp.astype({
    'LandAverageTemperature': 'float',
    'LandAverageTemperatureUncertainty': 'float',
    'LandMaxTemperature': 'float',
    'LandMaxTemperatureUncertainty': 'float',
    'LandMinTemperature': 'float',
    'LandMinTemperatureUncertainty': 'float',
    'LandAndOceanAverageTemperature': 'float',
    'LandAndOceanAverageTemperatureUncertainty': 'float',
    })

RawGlobalTemp.head()

          dt  ...  LandAndOceanAverageTemperatureUncertainty
0 1750-01-01  ...                                        NaN
1 1750-02-01  ...                                        NaN
2 1750-03-01  ...                                        NaN
3 1750-04-01  ...                                        NaN
4 1750-05-01  ...                                        NaN

[5 rows x 9 columns]

### Major City

In [ ]:
## import MajorCity csv:
path = 'https://raw.githubusercontent.com/alexeyserdtse/BigData_practicum/main/MajorCity.csv'
MajorCity = pd.read_csv(path,index_col=None)

#show first 5 rows.
MajorCity.head()

           dt  AverageTemperature  ...  Latitude Longitude
0  1849-01-01              26.704  ...     5.63N     3.23W
1  1849-02-01              27.434  ...     5.63N     3.23W
2  1849-03-01              28.101  ...     5.63N     3.23W
3  1849-04-01              26.140  ...     5.63N     3.23W
4  1849-05-01              25.427  ...     5.63N     3.23W

[5 rows x 7 columns]

In [ ]:
# Dataset len:
len(MajorCity)

239177

In [ ]:
MajorCity.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       228175.000000                  228175.000000
mean            18.125969                       0.969343
std             10.024800                       0.979644
min            -26.772000                       0.040000
25%             12.710000                       0.340000
50%             20.428000                       0.592000
75%             25.918000                       1.320000
max             38.283000                      14.037000

In [ ]:
print("Total Number of Countries: ",len(MajorCity.Country.unique()))
MajorCity.Country.unique()

Total Number of Countries:  49

array(["Côte D'Ivoire", 'Ethiopia', 'India', 'Syria', 'Egypt', 'Turkey',
       'Iraq', 'Thailand', 'Brazil', 'Germany', 'Colombia',
       'South Africa', 'Morocco', 'China', 'United States', 'Senegal',
       'Tanzania', 'Bangladesh', 'Pakistan', 'Zimbabwe', 'Vietnam',
       'Nigeria', 'Indonesia', 'Saudi Arabia', 'Afghanistan', 'Ukraine',
       'Congo (Democratic Republic Of The)', 'Peru', 'United Kingdom',
       'Angola', 'Spain', 'Philippines', 'Iran', 'Australia', 'Mexico',
       'Somalia', 'Canada', 'Russia', 'Japan', 'Kenya', 'France', 'Burma',
       'Italy', 'Chile', 'Dominican Republic', 'South Korea', 'Singapore',
       'Taiwan', 'Sudan'], dtype=object)

In [ ]:
print("Total Number of Cities: ",len(MajorCity.City.unique()))
MajorCity.City.unique()

Total Number of Cities:  100

array(['Abidjan', 'Addis Abeba', 'Ahmadabad', 'Aleppo', 'Alexandria',
       'Ankara', 'Baghdad', 'Bangalore', 'Bangkok', 'Belo Horizonte',
       'Berlin', 'Bogotá', 'Bombay', 'Brasília', 'Cairo', 'Calcutta',
       'Cali', 'Cape Town', 'Casablanca', 'Changchun', 'Chengdu',
       'Chicago', 'Chongqing', 'Dakar', 'Dalian', 'Dar Es Salaam',
       'Delhi', 'Dhaka', 'Durban', 'Faisalabad', 'Fortaleza', 'Gizeh',
       'Guangzhou', 'Harare', 'Harbin', 'Ho Chi Minh City', 'Hyderabad',
       'Ibadan', 'Istanbul', 'Izmir', 'Jaipur', 'Jakarta', 'Jiddah',
       'Jinan', 'Kabul', 'Kano', 'Kanpur', 'Karachi', 'Kiev', 'Kinshasa',
       'Lagos', 'Lahore', 'Lakhnau', 'Lima', 'London', 'Los Angeles',
       'Luanda', 'Madras', 'Madrid', 'Manila', 'Mashhad', 'Melbourne',
       'Mexico', 'Mogadishu', 'Montreal', 'Moscow', 'Nagoya', 'Nagpur',
       'Nairobi', 'Nanjing', 'New Delhi', 'New York', 'Paris', 'Peking',
       'Pune', 'Rangoon', 'Rio De Janeiro', 'Riyadh', 'Rome', 'São Paulo',
       'Saint Petersburg', 'Salvador', 'Santiago', 'Santo Domingo',
       'Seoul', 'Shanghai', 'Shenyang', 'Singapore', 'Surabaya', 'Surat',
       'Sydney', 'Taipei', 'Taiyuan', 'Tangshan', 'Tianjin', 'Tokyo',
       'Toronto', 'Umm Durman', 'Wuhan', 'Xian'], dtype=object)

In [ ]:
MajorCity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

In [ ]:
# Drop duplicates:
MajorCity = MajorCity.drop_duplicates()

# delete extra whitespaces & Capitize every column.
MajorCity['Country'] = MajorCity['Country'].str.strip()
MajorCity['Country'] = MajorCity['Country'].str.title()
MajorCity['City'] = MajorCity['City'].str.strip()
MajorCity['City'] = MajorCity['City'].str.title()

# Convert date column from object (str) to datetime:
MajorCity['dt'] = pd.to_datetime(MajorCity['dt'])

# Convert all values in  AverageTemperature and AverageTemperatureUncertainty to float
MajorCity = MajorCity.astype({'AverageTemperature': 'float',
                               'AverageTemperatureUncertainty': 'float'
                               })

MajorCity.head()

          dt  AverageTemperature  ...  Latitude Longitude
0 1849-01-01              26.704  ...     5.63N     3.23W
1 1849-02-01              27.434  ...     5.63N     3.23W
2 1849-03-01              28.101  ...     5.63N     3.23W
3 1849-04-01              26.140  ...     5.63N     3.23W
4 1849-05-01              25.427  ...     5.63N     3.23W

[5 rows x 7 columns]

### State

In [ ]:
## import State csv:
path = 'https://raw.githubusercontent.com/alexeyserdtse/BigData_practicum/main/State.csv'
State = pd.read_csv(path,index_col=None)

#show first 5 rows.
State.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [ ]:
State.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       620027.000000                  620027.000000
mean             8.993111                       1.287647
std             13.772150                       1.360392
min            -45.389000                       0.036000
25%             -0.693000                       0.316000
50%             11.199000                       0.656000
75%             19.899000                       1.850000
max             36.339000                      12.646000

In [ ]:
State.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

In [ ]:
# Drop duplicates:
State = State.drop_duplicates()

# delete extra whitespaces & Capitize every column.
State['Country'] = State['Country'].str.strip()
State['Country'] = State['Country'].str.title()
State['State'] = State['State'].str.strip()
State['State'] = State['State'].str.title()

# Convert date column from object (str) to datetime:
State['dt'] = pd.to_datetime(State['dt'])

# Convert all values in  AverageTemperature and AverageTemperatureUncertainty to float
State = State.astype({'AverageTemperature': 'float',
                               'AverageTemperatureUncertainty': 'float'
                               })

State.head()

          dt  AverageTemperature  AverageTemperatureUncertainty State Country
0 1855-05-01              25.544                          1.171  Acre  Brazil
1 1855-06-01              24.228                          1.103  Acre  Brazil
2 1855-07-01              24.371                          1.044  Acre  Brazil
3 1855-08-01              25.427                          1.073  Acre  Brazil
4 1855-09-01              25.675                          1.014  Acre  Brazil

### CityTemp

In [4]:
## import CityTemp csv:
path = 'https://raw.githubusercontent.com/alexeyserdtse/BigData_practicum/main/CityTemp.csv'
CityTemp = pd.read_csv(path,index_col=None)

#show first 5 rows.
CityTemp.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:9be86b51487f10e811a0ab43a75946739df...
1                                     size 532830464

In [ ]:
CityTemp.describe()

       AverageTemperature  AverageTemperatureUncertainty
count        8.235082e+06                   8.235082e+06
mean         1.672743e+01                   1.028575e+00
std          1.035344e+01                   1.129733e+00
min         -4.270400e+01                   3.400000e-02
25%          1.029900e+01                   3.370000e-01
50%          1.883100e+01                   5.910000e-01
75%          2.521000e+01                   1.349000e+00
max          3.965100e+01                   1.539600e+01

In [ ]:
CityTemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Dtype
---  ------                         -----
 0   dt                             object
 1   AverageTemperature             float64
 2   AverageTemperatureUncertainty  float64
 3   City                           object
 4   Country                        object
 5   Latitude                       object
 6   Longitude                      object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [ ]:
# Drop duplicates:
CityTemp = State.drop_duplicates()

# delete extra whitespaces & Capitize every column.
CityTemp['Country'] = CityTemp['Country'].str.strip()
CityTemp['Country'] = CityTemp['Country'].str.title()
CityTemp['City'] = CityTemp['City'].str.strip()
CityTemp['City'] = CityTemp['City'].str.title()

# Convert date column from object (str) to datetime:
CityTemp['dt'] = pd.to_datetime(CityTemp['dt'])

# Convert all values in  AverageTemperature and AverageTemperatureUncertainty to float
CityTemp = CityTemp.astype({'AverageTemperature': 'float',
                               'AverageTemperatureUncertainty': 'float'
                               })

CityTemp.head()

KeyError: ignored

In [ ]:
CityTemp.head()

          dt  AverageTemperature  AverageTemperatureUncertainty State Country
0 1855-05-01              25.544                          1.171  Acre  Brazil
1 1855-06-01              24.228                          1.103  Acre  Brazil
2 1855-07-01              24.371                          1.044  Acre  Brazil
3 1855-08-01              25.427                          1.073  Acre  Brazil
4 1855-09-01              25.675                          1.014  Acre  Brazil

In [ ]:
gc.collect()

90